@font-face {
    font-family: Futura;
    src: url(./Futura-Bold.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}

@font-face {
    font-family: FuturaMedium;
    src: url(./font/futura\ medium\ bt.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

*::selection {
    color: #fff;
    background-color: #000;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #F7F7F7;
}

#nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
    z-index: 2;
    position: relative;
}
/* 
#nav-part1 img {
    height: 120px;
    
} */

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links {
    padding: 10px;
}

#nav-part1 {
    /* background-color: RED; */
    height: 80px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav-part2 #links a {
    text-transform: uppercase;

    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
    
}

#nav-part2 #icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    height: 80vh;
    width: 100%;
    background-color: #000;
    color: #F7F7F7;
    padding: 3vh 3vw;
    position: absolute;
    visibility: hidden;
}

.nav-menu-clicked {
    display: flex;
    height: 80vh;
    width: 100%;
    background-color: #000;
    color: #F7F7F7;
    padding: 3vh 3vw;
    position: absolute;
    z-index: 3;
    visibility: visible;
}

.nav-menu h3 {
    padding: 5vh 0;
    font-family: FuturaMedium;
    letter-spacing: 0.05rem;
}

.nav-socials {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav-socials ul li {
    list-style: none;
    font-family: FuturaMedium;
    letter-spacing: 0.05rem;
}

.nav-FAQs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.nav-FAQs ul li {
    list-style: none;
    font-family: FuturaMedium;
    letter-spacing: 0.05rem;
}


.nav-menus {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.nav-menus ul li {
    list-style: none;
    font-size: 55px;
    font-family: Futura;
    line-height: 55px;
}

#cursor {
    height: 180px;
    width: 180px;
    background-color: rgba(246, 196, 170, 0.814);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);

}

#page1 {
    min-height: 100vh;
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;

}

#page1 h1 {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;

}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem {
    height: 100%;
    width: 31%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets {
    height: 60px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: rgb(249, 196, 188);


}

#page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child {
    height: 54vh;
    width: 38vw;
    /* background-color: red; */
    /* border: 2px solid #000; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img {
    height: 100%;
}

#page4 {
    margin-top: 10vh;
    height: 80vh;
    width: auto;
    /* background-color: aquamarine;    */
}

#page4 h3 {
    font-size: 14px;
    color: rgb(98, 98, 98);
}

.footer-part1 {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2vh 2vw;
}

.socials li {
    list-style: none;
    line-height: 1.3rem;
}


.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2vh 2vw;
}



.links li {
    list-style: none;
    text-align: end;
    line-height: 1.3rem;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-logo img {
    height: 29vh;
}


.footer-logo .copyright {
   display: flex;
   justify-content: space-between;
   height: 6vh;
   width: 100%;
   gap: 20px;
   font-size: 12px;
   color: rgb(111, 111, 111)
}


.footer-part2 {
    display: flex;
    /* background-color: bisque; */
    height: 30vh;
    width: 100%;
    text-align: center;
    padding: 8vh 18vw;
}

.footer-part2 p {
    font-size: 16px;
    font-weight: 100;
}


@media (max-width:600px) {

    #nav {
        /* height: 100px; */
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
    }

    #nav #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    #links {
        padding: 10px;
        display: none;
    }

    #nav-part1 {
        /* background-color: RED; */
        height: 67px;
        overflow: hidden;
    }

    #nav-part1 svg {
        display: block;
        height: 67px;
        width: 80px;
    }
    #nav #twogoodlogo{
        height: 40px;
        margin-left: -20px;
    }

    #icons {
        padding: 7px;
        border-radius: 50px;
        background-color: #F7F7F7;
    }

    #nav-part2 #icons i {
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }

    #page1 {
        /* background-color: red; */
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;

    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: red; */
    }

    #page2 .elem {
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }

    #page2 .elem .dets {
        height: 40px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        z-index: 9;
        background-color: rgb(229, 156, 186);

    }

    #page3 {
        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .child {
        height: 54vh;
        width: 88vw;
        /* background-color: red; */
        /* border: 2px solid #000; */
        position: relative;
        padding: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .child img {
        height: 100%;
    }

}